<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary h-100">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
            &#128010; What's  your favorite Reptile?
          </h1>
        </header>
        <p class="text-muted mb-5">
          One of my favorite questions! So, I made a quick form to gather your answers.
          This was a fun project to learn more about the feature's of
          <a href="https://firebase.google.com/" target="blank">firebase</a>
          and the exploration of a zero-backend stack.
          Also, this allowed a chance to play with some new typeahead functionality.
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-info">React</span>
        <span class="badge bg-secondary">Firebase</span>
        <span class="badge bg-warning">ChartJS</span>
        <span class="badge bg-primary">Typeahead</span>
        <footer>
          <ul id="collapse-reptile">
            <li>
              <a href="https://reptileapp-200de.web.app/" target="blank">
                <i class="bi bi-box-arrow-in-up-right"></i> Demo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/reptileApp" target="blank">
                <i class="bi bi-github"></i> Repo
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>
