<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
              &#127744; Free Hot Tub
          </h1>
        </header>
        <p class="text-muted mb-5">
          Need a hot tub? Don't have any cash? Use this app to help pair you with a free jacuzzi.
          This is a small Rails application which uses a rake tasks, a scheduler and nokogiri to scrape Craigslist for any available free hot tubs.
          It uses Postgres to store the listings, but also flags them as inactive when the listings are removed.
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-danger">Ruby on Rails</span>
        <span class="badge bg-secondary">Heroku</span>
        <footer>
          <a class="font-semibold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse-free-hot-tub">
            <span>More Info</span>
            <span class="caret">
              <i class="bi bi-chevron-right" aria-label="Linkedin"></i>
            </span>
          </a>
          <ul class="collapse" id="collapse-free-hot-tub">
            <li>
              <a href="http://free-hot-tubs.heydanhey.com/" target="blank">
                <i class="bi bi-box-arrow-in-up-right"></i> Demo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/freeHotTub" target="blank">
                <i class="bi bi-github"></i> Repo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/freeHotTub/blob/0eac0e8f639a8be692cface5bf7f9e5832e27db4/lib/tasks/free_hot_tubs.rake#L1-L58" target="blank">
                <i class="bi bi-joystick"></i> Rake Task
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>