<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
              🤕 Chicago Bulls Injuries
          </h1>
        </header>
        <p class="text-muted mb-5">
          Injuries play a large role in the NBA. I follow the Chicago Bulls
          and I like to stay up to date on the injury status of they players.
          I use this app to scrape the latest injury report and updates from
          a popular sports website. The real fun part was getting to work with begin.com.
          Wow, what a cool service!
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-info">React</span>
        <span class="badge bg-secondary">Begin.com</span>
        <span class="badge bg-secondary">AWS</span>
        <footer>
          <a class="font-semibold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse-asteroids">
            <span>More Info</span>
            <span class="caret">
              <i class="bi bi-chevron-right" aria-label="Linkedin"></i>
            </span>
          </a>
          <ul class="collapse" id="collapse-asteroids">
            <li>
              <a href="https://injuries.heydanhey.com/" target="blank">
                <i class="bi bi-box-arrow-in-up-right"></i> Demo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/sorting" target="blank">
                <i class="bi bi-github"></i> Repo
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>
