<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
              🎛 Laboratry for unnecessary research
          </h1>
        </header>
        <p class="text-muted mb-5">
          This is a simple git based CMS site to store a collections of random projects.
          Mostly homebrew recipes and art projects.
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-info">NextJS</span>
        <span class="badge bg-secondary">Netlify</span>
        <footer>
          <ul id="collapse-lunr">
            <li>
              <a href="https://lunr.heydanhey.com/" target="blank">
                <i class="bi bi-box-arrow-in-up-right"></i> Demo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/beer-cms" target="blank">
                <i class="bi bi-github"></i> Repo
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>
