<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary h-100">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
              ⬛ Pixel
          </h1>
        </header>
        <p class="text-muted mb-5">
          🚧 Work in Progress.
        </p>
        <p class="text-muted mb-5">
          A simple site to create your own pixel art.
          I made this as the first consumer of my <a href="https://heydanhey.github.io/design-system">design system</a>!
          I know, I know a design system? Well, not really. But I wanted to start building some components
          and pacakges in a monorepo structure. It also uses github actions to release, publish and deploy to
          <a href="https://www.npmjs.com/search?q=%40heydan">NPM</a>.
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-info">React</span>
        <span class="badge bg-secondary">NextJS</span>
        <span class="badge bg-secondary">Turborepo</span>
        <span class="badge bg-primary">Storybook</span>
        <footer>
          <ul id="collapse-pixel">
            <li>
              <a href="https://pixel.heydanhey.com/" target="blank">
                <i class="bi bi-box-arrow-in-up-right"></i> Site
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/pixel" target="blank">
                <i class="bi bi-github"></i> Pixel Repo
              </a>
            </li>
            <li>
              <a href="https://github.com/heydanhey/design-system" target="blank">
                <i class="bi bi-github"></i> Design System Repo
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>