<article class="col-12 col-md-6">
  <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary h-100">
    <div class="p-5 p-md-5 p-xl-10">
      <section>
        <header>
          <h1 class="h3 ls-tight mb-4">
            &#128260; Wefreshed
          </h1>
        </header>
        <p class="text-muted mb-5">
          This project actually started as a capstone project for a bootcamp.
          Since modern tech stacks are constantly evolving and improving,
          it's nice to have a project to play with the new features.
          Rails 5 has become Rails 6. The client was migrated from server
          templates with Angular sprinkles to the Ionic framework using React.    
        </p>
        <hr class="flex-fill green-500"/>
        <span class="badge bg-danger">Rails API</span>
        <span class="badge bg-info">React</span>
        <span class="badge bg-secondary">Heroku</span>
        <span class="badge bg-warning">Ionic</span>
        <footer>
          <ul id="collapse-wefreshed">
            <li>
              <a href="https://github.com/heydanhey/freeHotTub">
                <i class="bi bi-box-arrow-in-up-right"></i> Demo
              </a>
            </li>
            <li>
              <a href="https://github.com/WeFreshed/wefreshed">
                <i class="bi bi-github"></i> Repo
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</article>
