<nav class="navbar fixed-top navbar-light bg-light" style="opacity: 0.8;">
  <div class="container-fluid justify-content-end">
    <button id="moon-button" class="navbar-brand btn btn-link" href="#" data-bs-toggle="modal" data-bs-target="#moon-modal">
      <i class="bi-moon" style="font-size: 2rem; color: cornflowerblue;" aria-label="Moon"></i>
    </button>
  </div>
</nav>